{% extends "::base.html.twig" %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <h2>Bienvenido a la base de datos de autores con <strong>MongoDB:</strong></h2>
    <h3>Menú:</h3>
    <ul>
        <li><a href="{{ path('mongo_crear') }}">Crear autor</a></li>
        <li><a href="{{path('mongo_buscar_todos')}}">Buscar todos</a></li>
        <li><a href="{{path('mongo_buscar_nombre')}}">Buscar un autor</a></li>
    </ul>

{% endblock %}

{#autores
año
articulos
revistas
improcedings
incollection#}
